
* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url("./img/background.jpg");
    z-index: -999;
    
}

.banner {
    display: flex;
    background-color: rgb(13, 14, 13);
    width: auto;
    height: 100px;
    z-index: 1;
    color: rgb(243, 237, 237);
    font-family: 'Courier New', Courier, monospace;
    border: solid 2px rgb(83, 83, 81);
    border-radius: 3px;
    opacity: 0.9;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: wavy;
    font-size: 24px;
    text-shadow: 1px;
    text-align: center;
    padding-top: 25px;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;


}
.bannerT {
    display: flex;
    color: antiquewhite;
    width: 40%;
    height: 20%;
}
.mainBox {
    position: relative;
    display:flex;
    width: auto;
    height: 700px;
    background-color: rgb(55, 80, 45);
    margin-right: 20px;
    margin-left: 20px;
    background-image: linear-gradient(rgba(143, 140, 140, 0.342), rgb(192, 207, 192));
    
    
    border-radius: 3px;
    opacity: 0.95;
    z-index: 0;
}

.boxLeft {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 400px;
    width: 280px;
    color: rgb(240, 240, 229);
    background-color: rgb(17, 17, 15);
    z-index: 2;
    font-size: 16px;
    font-weight: bold;
    border: solid 3px rgb(83, 83, 81);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    Margin-left: 15px;
    margin-top: 20px;
    padding-top: 30px;
    opacity: 1;

}
.container1 {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 700px;
    color: rgb(226, 226, 216);
    background-color: rgb(17, 17, 16);
    z-index: 3;
    font-size: 16px;
    font-weight: bold;
    border: solid 3px rgb(83, 83, 81);
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    Margin-left: 15px;
    opacity: 1;
}
.boxRight1a {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: rgb(24, 23, 22);
    height: 200px;
    width: 650px;
    border: 2px solid whitesmoke;
    align-items: flex-start;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    z-index: 4;
    transition: background-color 1s ease-out 100ms;
    opacity: 0.9;
    

}
.boxRight1a:hover {
    opacity: 1;
    background-color: black;
    background-color: linear-gradient white black, grey;
    cursor: pointer;
    width: 660;
    z-index: 5;
    
}
.boxright1aH {
    display: flex;
    z-index: 5;
    height: 50px;
    width: 80px;
    align-self: left;
    padding-left: 10px;
    margin-left: 10px;

}
.boxright1aP {
    background-color: rgb(53, 51, 49);
    width: 500;
    height: 250px;
    z-index: 6;
    padding-left: 10px;
    margin-left: 10px;
  
}
.boxRightEnd {
display: flex;
background-color: antiquewhite;
height: 650px;
width: 200px;
align-items: center;
justify-content: column;
margin-left: 10px;
margin-right: 10px;

border-radius: 10px;
margin-top: 5px;
margin-bottom: 5px;
}
.rightEndMenu {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 15px;
    padding-right: 15px;
    background-color: rgb(236, 203, 159);
    height: 600px;
    width: 100px;
    flex-direction: column;
    font-size: 14px;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

}
.rightEndB {
    display: flex;
    margin: 5px;
    margin-right: 15px;
    padding-right: 5px;
    background-color: rgb(61, 56, 56);
    color: antiquewhite;
    font-weight: bold;
    height: 15%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    
}
.rightEndB:hover {
    background-color: black;
    opacity: 1;
    background-image: linear-gradient(rgb(255, 249, 249) black, grey);
    cursor: pointer;
    transition: background-color 1s ease-out 100ms

};